
/* Footer Links */
.footer {
  // max-width: 375px;
  background-color: #403b3b;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;

  h2 {
    padding-left: 20px;
    font-family: Shrikhand;
    font-size: 18px;
    font-weight: 500;
  }
  .ulist li {
    text-decoration: none;
  }

  .fa-solid.fa-utensils {
    width: 25px;
    margin-left: -17px;
    margin-bottom: 12px;
  }

  .fa-solid.fa-handshake-angle {
    width: 25px;
    margin-left: -17px;
    margin-bottom: 12px;
  }

  .ulist li a {
    text-decoration: none;
    color: white;
  }

  .ulist .link {
    list-style-type: none;
    color: white;
    margin-left: -17px;
    margin-bottom: 12px;
  }

  /* Within Footer Section */
  @include breakpoint(tablet) {
    background-color: orange;

    h2 {
      display: flex;
      align-content: center;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @include breakpoint(desktop) {
    background-color: red;

    h2 {
      display: flex;
      align-items: start;
      margin-left: 0px;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
  }
}