/* Header */
.arrow {
  color: black;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 30px;
  font-size: 20px;
}

.menulogo {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Full Menu */
.fullmenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 30px;
  position: relative;
  margin-top: -30px;

  h1 {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;

    padding-left: 20px;
    font-family: Shrikhand;
    font-weight: 500;
  }

  h2 {
    width: 100%;
    padding-left: 15px;
    color: grey;
    font-size: 20px;
    margin: 0 0;
  }

  hr {
    display: block;
    margin-top: -15px;
    margin-left: 15px;
    border: 0;
    border-top: 4px solid #99e2d0;
    width: 50px;
  }

  /* ENTREES */
  .entrees {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 5px;
    margin-left: 20px;
    gap: 20px;

    .entree {
      overflow: hidden;
      height: 70px;
      width: 340px;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
      background-color: white;
      border-radius: 15px;

      .content {
        display: flex;
        padding-left: 10px;
        font-size: 20px;
        height: 100%;
        width: 410px;
        transition: width 3s;

        h3 {
          font-size: 20px;
          margin-bottom: 0px;
        }

        p {
          font-size: 15px;
          margin-top: 4px;
          color: grey;
        }

        .entree-text {
          flex: content;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          p {
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-right: 0px;
          }
        }

        .entree-price {
          align-self: flex-end;
          margin-bottom: 4px;
          margin-right: 20px;
        }

        &:hover {
          width: 340px;

          .checkmark i {
            transition: all 3s ease-in-out;
            transform: rotate(360deg);
          }
        }
      }

      .checkmark {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 70px;
        width: 70px;
        color: #99e2d0;
        background-color: #99e2d0;

        i {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: white;
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }
      }
    }
  }

  /* MAIN DISHES */
  .maindishes {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 5px;
    margin-left: 20px;
    gap: 20px;

    .maindish {
      overflow: hidden;
      // height: 70px;
      height: 90px;
      width: 340px;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
      background-color: white;
      border-radius: 15px;

      .content {
        display: flex;
        padding-left: 10px;
        font-size: 20px;
        height: 100%;
        width: 410px;
        transition: width 3s;

        h3 {
          font-size: 20px;
          margin-bottom: 0px;
        }

        p {
          font-size: 15px;
          margin-top: 4px;
          color: grey;
        }

        .entree-text {
          flex: content;
          // white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          margin-bottom: 5px;

          p {
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-right: 0px;
          }
        }

        .entree-price {
          align-self: flex-end;
          margin-bottom: 4px;
          margin-right: 20px;
        }

        &:hover {
          width: 340px;

          .checkmark i {
            transition: all 3s ease-in-out;
            transform: rotate(360deg);
          }
        }
      }

      .checkmark {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 90px;
        width: 70px;
        color: #99e2d0;
        background-color: #99e2d0;

        i {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: white;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          transform: rotate(0deg);
        }
      }
    }
  }

  /* DESSERTS */
  .desserts {
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;
    width: 100%;
    margin-bottom: 5px;
    margin-left: 20px;
    gap: 20px;

    .dessert {
      overflow: hidden;
      // height: 70px;
      height: 85px;
      width: 340px;
      // width: 350px;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
      background-color: white;
      border-radius: 15px;
      // margin: -10px 0 15px 0;

      .content {
        display: flex;
        // flex-wrap: wrap;
        padding-left: 10px;
        font-size: 20px;
        height: 100%;
        width: 410px;
        // width: 420px;
        transition: width 3s;

        // h3 {
        //   font-size: 20px;
        //   margin-bottom: 0px;
        // }

        // p {
        //   font-size: 15px;
        //   margin-top: 4px;
        //   color: grey;
        // }

        .entree-text {
          // margin-left: -10px;
          flex: content;
          // white-space: nowrap;
          // white-space: normal;
          overflow: hidden;
          text-overflow: ellipsis;
          // width: 265px;
          // overflow-wrap: break-word;

          h3 {
            // overflow-wrap: break-word;
            // display: flex;
            // justify-content: left;
            // text-align: start;
            font-size: 20px;
            // margin: 20px 0 0 0px ;
            margin-bottom: 0;
            // flex-wrap: wrap;
            width: 265px;

            // width: 100%;
            // flex-wrap: wrap;
            // width: 265px;
            // font-size: 20px;
            margin-bottom: 0px;
          }

          p {
            font-size: 15px;
            margin-top: 4px;
            color: grey;

            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-right: 0px;
          }
        }

        .entree-price {
          align-self: flex-end;
          margin-bottom: 4px;
          margin-right: 20px;
        }

        &:hover {
          width: 340px;

          .checkmark i {
            transition: all 3s ease-in-out;
            transform: rotate(360deg);
          }
        }
      }

      .checkmark {
        display: flex;
        align-items: center;
        justify-content: center;
        // height: 70px;
        height: 85px;
        width: 70px;
        color: #99e2d0;
        background-color: #99e2d0;

        i {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: white;
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }
      }
    }
  }

  /* Order Button */
  .order {
    border-radius: 30px;
    border: none;
    background-image: linear-gradient(#ff79da, #9356dc);
    color: white;
    height: 60px;
    width: 230px;
    margin: 30px 0px 30px 0px;
    font-size: 18px;
    position: relative;
    z-index: 1;
    &:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
      background-image: linear-gradient(
        lighten(#ff79da, 5%),
        lighten(#9356dc, 5%)
      );

      cursor: pointer;
    }
    &::after {
      content: "";
      border-radius: 25px;
      border: none;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: darken($color: #ff79da, $amount: 20);
      opacity: 0;
      z-index: -1;
      transition: opacity 250ms;
    }
  }

  /* Within Full Menu */
  @include breakpoint(tablet) {
    background-color: orange;

    h1 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      font-size: 30px;
      width: 100%;

      font-family: Shrikhand;
      font-weight: 500;

      i {
        padding-left: 20px;
      }
    }

    h2 {
      width: 100%;
      padding-left: 0;
      color: grey;
      font-size: 20px;
      margin: 0 0 -10px 0;
    }

    hr {
      border: 0;
      border-top: 4px solid #99e2d0;
      width: 50px;
      margin: 0 0;
      margin-bottom: 20px;
    }

    /* ENTREES */
    .entrees {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

    /* MAIN DISHES */
    .maindishes {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

    /* DESSERTS */
    .desserts {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

    /* Order Button */
    .order {
      border-radius: 30px;
      border: none;
      background-image: linear-gradient(#ff79da, #9356dc);
      color: white;
      height: 60px;
      width: 230px;
      // text-align: center;

      margin: 30px 0px 30px 0px;
      font-size: 18px;
      position: relative;
      z-index: 1;
      &:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        background-image: linear-gradient(
          lighten(#ff79da, 5%),
          lighten(#9356dc, 5%)
        );

        cursor: pointer;
      }
      &::after {
        content: "";
        border-radius: 25px;
        border: none;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: darken($color: #ff79da, $amount: 20);
        opacity: 0;
        z-index: -1;
        transition: opacity 250ms;
      }
    }
  }

  @include breakpoint(desktop) {
    background-color: red;

    h1 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      font-size: 30px;
      width: 100%;

      font-family: Shrikhand;
      font-weight: 500;

      i {
        padding-left: 20px;
      }
    }

    h2 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
      padding-left: 0;
      color: grey;
      font-size: 20px;
      margin: 0 0 0px 0;
    }

    hr {
      border: 0;
      border-top: 4px solid #99e2d0;
      width: 50px;
      margin: 0 0;
      margin-bottom: 20px;
    }

    // /*  Main Image */
    // .options {
    //   img {
    //     height: 250px;
    //     width: 100%;
    //     object-fit: cover;
    //   }
    // }

    /* ENTREES */
    .entrees {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
      margin-bottom: 5px;
      gap: 20px;
    }

    /* MAIN DISHES */
    .maindishes {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
      margin-bottom: 5px;
      gap: 20px;
    }

    /* DESSERTS */
    .desserts {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
      margin-bottom: 5px;
      gap: 20px;
    }

    /* Order Button */
    .order {
      border-radius: 30px;
      border: none;
      background-image: linear-gradient(#ff79da, #9356dc);
      color: white;
      height: 60px;
      width: 230px;
      margin: 30px 0px 30px 0px;
      font-size: 18px;
      position: relative;
      z-index: 1;
      &:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        background-image: linear-gradient(
          lighten(#ff79da, 5%),
          lighten(#9356dc, 5%)
        );

        cursor: pointer;
      }
      &::after {
        content: "";
        border-radius: 25px;
        border: none;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: darken($color: #ff79da, $amount: 20);
        opacity: 0;
        z-index: -1;
        transition: opacity 250ms;
      }
    }
  }
}

/* Contact Form */
.contact {
  &__group {
    padding-left: 20px;
    font-size: 25px;

    & input {
      border: 2px solid #6300a0;
      border-radius: 15px;
      color: #6300a0;
      padding: 10px 10px;
      font-size: 25px;
      width: 100%;
      &:focus {
        border: 2px solid #6300a0;
      }
      &:not(:focus):invalid {
        background: #b20a37;
        border: 2px solid #b20a37;
        color: #fff;
      }
    }
  }
  button {
    margin: 20px 20px;
    border-radius: 10px;
    font-size: 20px;
    background-image: linear-gradient(#ff79da, #9356dc);
    color: white;

    &:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
      background-image: linear-gradient(
        lighten(#ff79da, 5%),
        lighten(#9356dc, 5%)
      );
    }
  }

  /* Within Contact Form */
  @include breakpoint(tablet) {
    background-color: orange;
  }

  @include breakpoint(desktop) {
    background-color: red;
  }
}
